@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#03081F] text-white font-sans antialiased;

    /* Set default padding and margins */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
select {
  @apply text-black bg-white;
}

/* Responsive styles for various screen sizes */

/* Small screens (e.g., phones) */
@media (max-width: 640px) {
    body {
        @apply p-4;
    }
}

/* Medium screens (e.g., tablets) */
@media (min-width: 640px) and (max-width: 1024px) {
    body {
        @apply p-6;
    }
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }